@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap");

nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  /* background-color: #044343; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
nav ul {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;
}
nav ul li {
  list-style-type: none;
  margin: 0 10px 0 10px;
  text-decoration: none;
  color: #e4e4e4;
  font-weight: 500;
}
nav ul li a {
  text-decoration: none;
  color: #e4e4e4;
  font-weight: 500;
}
.logo {
  font-family: "Ubuntu Mono";
  font-weight: 900;
  font-size: 1.9rem;
  color: #045757;
}
.logo:hover {
  color: #e4e4e4;
}
form input {
  border: none;
  outline: none;
  border-bottom: 1px solid #e4e4e4;
  border-radius: 10px;

  background-color: #222222;
}
form input:focus {
  outline: none;
  background-color: #222222;
  text-align: center;
  color: #e4e4e4;
}
li .ol {
  margin: 10px 0 0px -30px;
  background: #045757;
  position: absolute;
  /* width: 100%; */
  height: 100px;

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  /* color: #222222; */
}
li .ol li {
  text-align: center;
  margin-left: -30px;
}
li .ol li a {
  color: #222222;
}
active-ol {
  display: flex;
}
form button {
  margin-left: 10px;
  border: none;
  /* padding: 10px; */
  background: #e4e4e4;
}
button i {
  font-weight: 900;
  color: #045757;
}
button i .fa {
  font-size: 2rem;
}
