@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap");

nav {
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 90px;
  /* background-color: #044343; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
nav ul {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;
}
nav ul li {
  list-style-type: none;
  margin: 0 10px 0 10px;
  text-decoration: none;
  color: #e4e4e4;
  font-weight: 500;
}
nav ul li a {
  text-decoration: none;
  color: #e4e4e4;
  font-weight: 500;
}
.logo {
  font-family: "Ubuntu Mono";
  font-weight: 900;
  font-size: 2.5rem;
  color: #045757;
}
.logo:hover {
  color: #e4e4e4;
}
li .ol {
  margin: 5px 0 0px -30px;
  background: #045757;
  position: absolute;
  /* width: 100%; */
  height: 100px;
  transition: all 5s ease;

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  /* color: #222222; */
}

.f:hover ol {
  display: flex;
  transition: all 5s ease;
}
ol:hover {
  display: flex;
  transition: all 5s ease;
}
ol:focus {
  display: flex;
  transition: all 5s ease;
}
.f:focus ol {
  display: flex;
}
li .ol li {
  text-align: center;
  margin-left: -30px;
}
li .ol li a {
  color: #e4e4e4;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icons i {
  margin: 0 5px 0 5px;
  font-size: 1.1rem;
  font-weight: 900;
  color: #044343;
  background: #e4e4e4;
  padding: 3px 5px 3px 5px;
  border-radius: 2px;
}
.times {
  display: none;
}
.toggle {
  display: none;
}
/* topper */

/* ends */

/* screen max 900 */
@media screen and (max-width: 900px) {
  nav {
    width: -100vw;
    transition: all 750s ease;
    z-index: 100;

    position: absolute;
    /* transition: 4s ease-in-out display; */
    height: 100vh;
    background: #044343;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  nav ul {
    /* width: 100vw; */
    margin-left: -15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: center;
  }
  nav ul li {
    margin: 20px 0 20px 0;
  }
  .times {
    display: flex;
    position: fixed;
    top: 25px;
    z-index: 10;
    right: 10px;
    display: flex;
    font-size: 2.5rem;
    color: #e4e4e4;
    font-weight: 900;
  }
  .toggle {
    display: flex;
    position: fixed;
    top: 25px;
    z-index: 10;

    right: 10px;
    font-size: 2.5rem;

    color: #e4e4e4;
    font-weight: 900;
  }
}
/* ends */
